<%- include('include/header.ejs') %>

    <body>
        <!-- <%- include('include/nav-bar.ejs') %> -->
            <h1>This is the Index File from HTML</h1>
            <h3>Name: <%=value%></h3>

            <% for(let i=0; i < allUsers.length; i++) { %>
                <a href="/profile/<%=allUsers[i].id %>">
                    <p>
                        <%=allUsers[i].name %>
                    </p>
                </a>
                <% } %>


    </body>

    </html>